name: Lint Check

on:
    pull_request:
        paths-ignore:
            - '.gitignore'
            - '.github/**'
            - 'README.md'
            - 'LICENSE'
            - '.prettierrc'
            - '.prettierignore'
            - '.vscode/**'
    push:
        branches:
            - 'main'
        paths-ignore:
            - '.gitignore'
            - '.github/**'
            - 'README.md'
            - 'LICENSE'
            - '.prettierrc'
            - '.prettierignore'
            - '.vscode/**'

jobs:
    lint:
        runs-on: ubuntu-latest
        permissions:
            contents: read

        steps:
            - uses: actions/checkout@v4

            - name: Set up Node
              uses: actions/setup-node@v4
              with:
                  node-version: 22
                  cache: npm

            - name: Create the output directory
              run: mkdir -p temp/lint

            - name: Install dependencies
              run: npm ci

            - name: Run ESLint with JSON report
              run: npm run lint:report
              continue-on-error: true

            - name: Annotate ESLint results
              uses: ataylorme/eslint-annotate-action@v3
              with:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  report-json: temp/lint/eslint_report.json
                  fail-on-error: true
                  fail-on-warning: false

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: linting-reports
                  path: ./temp/lint
                  if-no-files-found: error
                  compression-level: 9
