name: TypeScript Compilation Check

on:
    pull_request:
        paths:
            - "src"
            - "tools"
            - "package.json"
            - "package-lock.json"
    push:
        branches:
            - "main"
        paths-ignore:
            - "src"
            - "tools"
            - "package.json"
            - "package-lock.json"

jobs:
    ts-check:
        runs-on: ubuntu-latest
        permissions:
            actions: none
            checks: write
            contents: read
            issues: none
            pull-requests: none

        steps:
            - uses: actions/checkout@v4

            - name: Set up Node
              uses: actions/setup-node@v4
              with:
                  node-version: 22
                  cache: npm

            - name: Install dependencies
              run: npm ci

            - name: Compile Check
              run: npm run tscheck
